<hr>
<footer class="contribute-footer">
  <p><em>Submissions are due two weeks before each event.</em></p>
  <p><em>
  <a href="{{ '/about/contribute/consent' | relative_url }}">Consent Policy</a> ·
  <a href="{{ '/about/contribute/submitting' | relative_url }}">Submission Guidelines</a> ·
  <a href="{{ '/about/contribute/arrangements' | relative_url }}#the-kill-fee-bribing-the-press">Kill Fees</a> ·
  <a href="{{ '/about/contribute/arrangements' | relative_url }}">Getting Paid</a></em></p>
</footer>
