<meta name="robots" content="noai, noimageai">
<header class="masthead">
  <a href="{{ '/' | relative_url }}">
    <img src="{{ '/assets/images/Steamy_Ink_Publishing_Logo.png' | relative_url }}" alt="Steamy Ink Publishing" class="masthead-logo">
  </a>
  <div class="dateline">
    <div class="dateline-row">
      <span class="dateline-left" id="dateline-vol"></span>
      <span class="dateline-center" id="dateline-date"></span>
      <span class="dateline-right dateline-price">Price 5c</span>
    </div>
    <div class="dateline-row">
      <span class="dateline-left" id="dateline-weather"></span>
      <span class="dateline-center" id="dateline-moon"></span>
      <span class="dateline-right" id="dateline-sunset"></span>
    </div>
  </div>
 </header>
